* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.error-message-box {
  /* display: none; */
  /* hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  text-align: right;
  top: 50px;
  right:50px;
  padding: 5px;
  border: 1px solid red;
}
#error-message-area {
  display: inline-block;
  color: red;
}
#close-error-button {
  /* display: inline-block; */
  text-align: center;
  margin-right: 5px;
}


button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}